<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('front-layout/img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/default.css') }}">
    <link rel="stylesheet" href="{{ asset('front-layout/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front-layout/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('front-layout/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front-layout/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front-layout/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front-layout/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('front-layout/css/meanmenu.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front-layout/css/nivo-slider.css') }}">
    <link rel="stylesheet" href="{{ asset('front-layout/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('front-layout/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('front-layout/css/responsive.css') }}">
    <script src="{{ asset('front-layout/js/vendor/modernizr-2.8.3.min.js') }}"></script>

    {% block stylesheets %}{% endblock %}
</head>
<body class="login">
<!-- page-wraper-start -->
<div id="page-wraper-2">

        <!-- header-area-start -->
        <header>
            {% block header %}
            {% if settings.oneFind.status is same as(false) %}
                <script>
                    window.location.assign("{{ path('home') }}");
                </script>
            {% endif %}
            <!-- header-top-area-start -->
            <div class="header-top-area" id="sticky-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-6 col-6">
                            <!-- logo-area-start -->
                            <div class="logo-area">
                                {% if settings.oneFind.thumbnail %}
                                    <a href="/"><img src="{{ asset('uploads/logo_sile/'~settings.oneFind.thumbnail) }}"
                                                     alt="logo"/></a>
                                {% else %}
                                    <b>Your company logo</b>
                                {% endif %}

                            </div>
                            <!-- logo-area-end -->
                        </div>
                        <div class="col-xl-7 col-lg-7 d-none d-lg-block">
                            <!-- menu-area-start -->
                            <div class="menu-area">
                                <nav>
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        {% for cat in categories.menu %}
                                            <li><a href="{{ cat.id }}"> {{ cat.title }}</a>
                                            {% if cat.children|length > 0 %}
                                                <ul class="sub-menu">
                                                    {% for sub in cat.children %}
                                                        <li><a href="{{ sub.id }}"> {{ sub.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                            <!-- menu-area-end -->
                        </div>
                        <div class="col-xl-3 col-lg-3 com-md-6 col-6">
                            <!-- header-right-area-start -->
                            <div class="header-right-area">
                                <ul>
                                    <li><a id="show-search" href="#"><i class="icon ion-ios-search-strong"></i></a>
                                        <div class="search-content" id="hide-search">
												<span class="close" id="close-search">
													<i class="ion-close"></i>
												</span>
                                            <div class="search-text">
                                                <h1>Search</h1>
                                                <form action="#">
                                                    <input type="text" placeholder="search"/>
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="cart.html"><i class="icon ion-bag"></i></a>
                                        <span>2</span>
                                        <div class="mini-cart-sub">
                                            <div class="cart-product">
                                                <div class="single-cart">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="img/product/1.jpg" alt="book"/></a>
                                                    </div>
                                                    <div class="cart-info">
                                                        <h5><a href="#">Joust Duffle Bag</a></h5>
                                                        <p>1 x £60.00</p>
                                                    </div>
                                                </div>
                                                <div class="single-cart">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="img/product/3.jpg" alt="book"/></a>
                                                    </div>
                                                    <div class="cart-info">
                                                        <h5><a href="#">Chaz Kangeroo Hoodie</a></h5>
                                                        <p>1 x £52.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-totals">
                                                <h5>Total <span>£12.00</span></h5>
                                            </div>
                                            <div class="cart-bottom">
                                                <a href="checkout.html">Check out</a>
                                            </div>
                                        </div>
                                    </li>
                                    {% if app.user %}

                                    {% endif %}
                                    <li><a href="#" id="show-cart">
                                            <i class="ionicons ion-ios-contact"></i>
                                        </a>
                                        <div class="shapping-area" id="hide-cart">
                                            <div class="single-shapping">
                                                <span>My Account</span>
                                                <ul>
                                                    {% if app.user %}
                                                        <li><a href="{{ path('user_office') }}">Dashboard</a></li>
                                                        <li><a href="{{ path('user_profile') }}">My Profile</a></li>
                                                        <li><a href="{{ path('logout') }}">Logout</a></li>
                                                    {% else %}
                                                        <li><a href="{{ path('user_register') }}">Register</a></li>
                                                        <li><a href="{{ path('app_login') }}">Login</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- header-right-area-end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-top-area-end -->
            <!-- mobile-menu-area-start -->
            <div class="mobile-menu-area d-block d-lg-none clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mobile-menu">
                                <nav id="mobile-menu-active">
                                    <ul id="nav">
                                        <li><a href="/">Home</a></li>
                                        {% for cat in categories.menu %}
                                            <li><a href="/"> {{ cat.title }}</a>
                                            {% if cat.children|length > 0 %}
                                                <ul class="sub-menu">
                                                    {% for sub in cat.children %}
                                                        <li><a href="/"> {{ sub.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area-end -->
        </header>
        <!-- header-area-end -->
        {% include 'message/message.html.twig' %}
    {% endblock %}
    {% block body %}
        {% block main %}
        {% endblock %}
    {% endblock %}
    <!-- newslatter-area-start -->
    <div class="newslatter-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bt-top ptb-80">
                        <div class="newlatter-content text-center">
                            <h6>Special Offers For Subscribers</h6>
                            <h3>Ten Percent Member Discount</h3>
                            <p>Subscribe to our newsletters now and stay up to date with new collections, the latest
                                lookbooks and exclusive offers.</p>
                            <form action="#">
                                <input type="text" placeholder="Enter your email address here..."/>
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newslatter-area-end -->
    <!-- footer-area-start -->
    <footer>
        <div class="footer-area ptb-40">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                        <!-- footer-logo-start -->
                        {# <div class="footer-logo mb-3"> #}
                        {# {% if setting.thumbnail is not null %} #}
                        {# <a href="/"><img src="{{ asset('uploads/logo_sile/'~setting.thumbnail) }}" alt="logo"/></a> #}
                        {# {% else %} #}
                        {# <b>Your company logo</b> #}
                        {# {% endif %} #}
                        {# </div> #}
                        <!-- footer-logo-end -->
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <!-- copy-right-area-start -->
                        <div class="copy-right-area mb-3 text-center">
                            <p>Copyright © 2018 <a href="#">Hastech</a> . All Right Reserved</p>
                        </div>
                        <!-- copy-right-area-end -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                        <!-- footer-social-icon-start -->
                        <div class="footer-social-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <!-- footer-social-icon-end -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->
</div>
<!-- page-wraper-start -->
{% block javascripts %}
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="{{ asset('front-layout/js/vendor/jquery-v3.4.1.min.js') }}"></script>
    <!-- popper js -->
    <script src="{{ asset('front-layout/js/popper.js') }}"></script>
    <!-- bootstrap js -->
    <script src="{{ asset('front-layout/js/bootstrap.min.js') }}"></script>
    <!-- owl.carousel js -->
    <script src="{{ asset('front-layout/js/owl.carousel.min.js') }}j"></script>
    <!-- magnific popup js -->
    <script src="{{ asset('front-layout/js/magnific-popup.js') }}"></script>
    <!-- meanmenu js -->
    <script src="{{ asset('front-layout/js/jquery.meanmenu.js') }}"></script>
    <!-- jquery-ui js -->
    <script src="{{ asset('front-layout/js/jquery-ui.min.js') }}"></script>
    <!-- wow js -->
    <script src="{{ asset('front-layout/js/wow.min.js') }}"></script>
    <!-- owl.carousel.min.js -->
    <script src="{{ asset('front-layout/js/owl.carousel.min.js') }}"></script>
    <!-- jquery.nivo.slider.js -->
    <script src="{{ asset('front-layout/js/jquery.nivo.slider.js') }}"></script>
    <!-- jquery.elevateZoom-3.0.8.min.js -->
    <script src="{{ asset('front-layout/js/jquery.elevateZoom-3.0.8.min.js') }}"></script>
    <!-- jquery.parallax-1.1.3.js -->
    <script src="{{ asset('front-layout/js/jquery.parallax-1.1.3.js') }}"></script>
    <!-- jquery.counterup.min.js -->
    <script src="{{ asset('front-layout/js/jquery.counterup.min.js') }}"></script>
    <!-- waypoints.min.js -->
    <script src="{{ asset('front-layout/js/waypoints.min.js') }}"></script>
    <!-- plugins js -->
    <script src="{{ asset('front-layout/js/plugins.js') }}"></script>
    <!-- main js -->
    <script src="{{ asset('front-layout/js/main.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.not_word').on('keypress', function () {
                var that = this;

                setTimeout(function () {
                    var res = /[^0-9 ]/g.exec(that.value);
                    console.log(res);
                    that.value = that.value.replace(res, '');
                }, 0);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.not_number').on('keypress', function () {
                var that = this;

                setTimeout(function () {
                    var res = /[^a-zA-Zа-яА-Я]/g.exec(that.value);
                    console.log(res);
                    that.value = that.value.replace(res, '');
                }, 0);
            });
        });
    </script>
    <script>
        $('document').ready(function () {
            $('#message').modal('show');
        });
    </script>
    <script>
        setTimeout(function () {
            $('#message').modal('hide');
        }, 5000);
    </script>
    <script>
        setTimeout(function () {
            $('#messageLogin').fadeOut();
        }, 3000);
    </script>
{% endblock %}
</body>
</html>
